#body
{
    background-color: lightskyblue;
}

#subody
{
    background-color: royalblue;
    height: 900px;
}

#p
{
    margin-top: 20px;
}

#bt
{
    font-size: large;
    background-color: slategray;
}